<h1><%= @card_set.name %></h1>


<div>
  <ul>
    <% @card_set.cards.each do |card| %>
      <li><%= card.name %></li>
      <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card.multiverse_id %>&type=card" />
      
      <% if card.collected_cards.find_by(collection_id: current_user.collection).present? %>
        <div>Collected: <%= card.collected_cards.find_by(collection_id: current_user.collection).quantity %></div>
      <% end %>

    <% end %>
  </ul>
</div>
